@media screen and (max-width: 427px) {
  .modal-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .modal-page {
    width: 392px;
    /* height: 584px; */
    margin: 96px auto;
    padding: 72px 24px 16px 24px;
  }

  .mob-menu-addres-link-tel {
    font-size: 36px;
  }

  .mob-socials-list {
    gap: 56px;
  }

  .portfolio-project-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .team > .container {
    max-width: 588px;
  }

  .footer > .container {
    max-width: 588px;
  }

  .customers > .container {
    max-width: 588px;
  }

  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state, #404bbf);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }

  .modal-page {
    width: 408px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-open-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .menu-close-btn {
    display: none;
  }

  .header-list,
  .header-list-address {
    display: flex;
  }

  .hero {
    max-width: 768px;
    margin: 0 auto;
    padding-bottom: 112px;
    background-color: var(--dark, #2e2f42);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }

  .hero-button {
    margin-top: 36px;
  }

  .features-title {
    text-align: left;
  }

  .features-list {
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .customers-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .what-item {
    margin: 0 auto;
    width: calc((100% - 48px) / 3);
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .team {
    padding: 96px 0;
  }

  .footer-container {
    gap: 72px 24px;
  }

  .footer-container {
    justify-content: flex-start;
  }

  .footer-logo-container {
    align-items: flex-start;
  }

  .footer-email {
    justify-content: left;
    align-items: flex-start;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .footer-form-input {
    width: 264px;
  }

  .subscribe-button {
    margin: 0;
  }

  .social-pages {
    margin-right: auto;
  }

  .subscribe-button {
    margin-left: 10px;
  }

  .button {
    width: 597px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    justify-content: space-between;
    gap: 24px;
  }

  .portfolio-button {
    padding: 12px 24px;
  }

  .projects-list {
    gap: 72px 24px;
    flex-direction: row;
  }

  .projects-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .what > .container {
    max-width: 1158px;
  }

  .team > .container {
    max-width: 1158px;
  }

  .customers > .container {
    max-width: 1158px;
  }

  .footer > .container {
    max-width: 1158px;
  }

  .modal-page {
    
    margin: 80px auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 72px 24px 24px 24px;
  }

  .header-logo-web {
    margin-right: 76px;
  }

  .header-addres {
    gap: 40px;
  }

  .hero-button {
    margin-top: 48px;
  }

  .hero {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 112px;
    background-color: var(--dark, #2e2f42);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .hero-container {
    margin-top: 188px;
  }

  .hero {
    padding-bottom: 188px;
  }

  .team {
    padding: 120px 0;
  }

  .features {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
  }

  .features-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .features-text {
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-weight: 400;
  }

  .features-icon {
    width: auto;
    height: auto;
    border-radius: 4px;
    background: var(--light-mode-background);
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px 100px;
    display: flex;
  }

  .features-item {
    margin: 0 auto;
    width: calc((100% - 72px) / 4);
  }

  .what {
    display: block;
  }

  .team-list {
    gap: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .customers-list {
    gap: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .customers-item {
    width: calc((100% - 24px * 5) / 6);
  }

  .header-list-address {
    flex-direction: row;
    gap: 40px;
  }

  .footer-container {
    justify-content: normal;
    flex-wrap: nowrap;
    gap: 0;
  }

  .header-addres-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .footer-logo-web {
    margin-right: 76px;
  }

  .footer-text {
    width: 264px;
  }

  .social-container {
    margin-left: 120px;
    margin-right: 80px;
  }

  .footer-form-input {
    border: 1px solid rgba(255, 255, 255);
  }

  .footer-form-input::placeholder {
    color: rgba(255, 255, 255);
  }

  .social-pages {
    margin-right: auto;
  }

  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .button {
    margin-bottom: 72px;
  }

  .projects-list {
    gap: 48px 24px;
  }

  .projects-item {
    width: calc((100% - 48px) / 3);
  }

  .customers {
    padding: 120px 0;
  }
}
