:root {
  --primary-Brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-Text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  color: var(--text, #434455);
  background-color: var(--white-background);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header .current {
  color: var(--pressed-state, #404bbf);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img,
.modal-forms-label,
.hero-button,
.current::after,
.button-modal-send {
  display: block;

  max-width: 100%;
  height: auto;
}

.button-modal-send {
  min-width: 169px;
  height: 56px;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background, #ffffff);
  cursor: pointer;
  background-color: var(--primary-Brand, #4d5ae5);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 24px auto;
  padding: 16px 32px;
}

.container {
  max-width: 1158px;
  margin: 0;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.flex {
  display: flex;
}

.header .container {
  justify-content: space-between;
}

.header-list,
.features .container,
.customers-link,
.team-icon-link,
.footer-button,
.button-modal,
.modal-forms-span,
.modal-forms-label-check {
  align-items: center;
}

.header .container .link {
  padding: 24px 0;
}

.header-list {
  gap: 40px;
  display: none;
}

.header-list-address {
  display: none;
  list-style: none;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  flex-wrap: wrap;
  position: relative;
}

.header-logo-web {
  color: var(--primary-Brand, #4d5ae5);
  font-weight: 800;
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 120px;
  padding: 24px 0px;
}

.header-logo-studio,
.header-nav-link {
  color: var(--dark, #2e2f42);
}

.header-nav-link {
  position: relative;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-addres {
  gap: 12px;
  align-items: center;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-Text, #8e8f99);
  border-radius: 4px;
  color: var(--subtle-Text, #8e8f99);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

.list,
.team-social-list {
  list-style: none;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-Brand, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state, #404bbf);
  color: var(--pressed-state, #404bbf);
}

.header-addres-link {
  color: var(--text, #434455);

  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-addres-link:hover,
.header-addres-link:focus {
  color: var(--pressed-state, #404bbf);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-background, #fff);
  background: var(--pressed-state, #404bbf);
}

.portfolio-button {
  background: var(--light, #f4f4fd);
  color: var(--primary-Brand, #4d5ae5);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--accent, #e7e9fc);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-link:hover,
.portfolio-project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-image-text {
  position: absolute;
  top: 0;
  color: var(--light, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background: var(--primary-Brand, #4d5ae5);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-link:hover .portfolio-image-text,
.portfolio-project-link:focus .portfolio-image-text {
  transform: translateY(0%);
}

.hero {
  max-width: 428px;
  margin: 0 auto;
  padding-bottom: 112px;
  background-color: var(--dark, #2e2f42);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.features-icon {
  display: none;
}

.team-social-list {
  gap: 24px;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team .text {
  padding-bottom: 8px;
}

.team-icon-svg {
  fill: var(--light, #f4f4fd);
}

.customers-icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
}

.customers-item {
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.hero-container {
  margin-top: 112px;
}

.hero-title {
  max-width: 320px;
  color: var(--white-background, #fff);
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 72px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: var(--primary-font);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background, #fff);
  background-color: var(--primary-Brand, #4d5ae5);
}

.social-item {
  height: 40px;
  width: 40px;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark, #2e2f42);
}

.features-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.features-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.features {
  padding: 96px 0;
}

.what {
  padding-bottom: 120px;
  display: none;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.what-list {
  display: flex;
  gap: 24px;
}

.features-list {
  gap: 72px;
}

.button {
  display: flex;
  gap: 16px 24px;
  flex-wrap: wrap;
  flex-direction: row;
  width: 270px;
  margin-bottom: 48px;
  align-content: flex-start;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.team-item {
  background-color: var(--white-background, #ffffff);
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title,
.features-title {
  margin-bottom: 8px;
}

.team-pages {
  margin-bottom: 72px;
}

.team-pages {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark, #2e2f42);
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}

.customers {
  padding: 96px 0;
}

.what-pades {
  color: var(--dark, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 324px;
  max-height: 40px;
  margin: 0 auto 72px;
}

.team-title,
.team-name {
  text-align: center;
}

.name-team-social {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background-color: var(--light, #f4f4fd);
  padding: 96px 0;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text, #434455);
  text-align: center;
}

.portfolio .text {
  text-align: left;
}

.footer {
  padding: 96px 0;
  background-color: var(--dark, #2e2f42);
}

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.team-social-list,
.customers-link,
.team-icon-link,
.footer-button,
.button-modal,
.modal-forms-span,
.modal-forms-label-check {
  justify-content: center;
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--pressed-state, #404bbf);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
}

.projects-item {
  border: 1px solid var(--accent-color);
  background: var(--primary-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-name {
  padding: 32px 0;
  background-color: var(--white-background, #ffffff);
}

.customers-pages {
  color: var(--dark, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.name-card {
  border: 1px solid var(--accent, #e7e9fc);
  padding: 32px 16px;
  border-top: none;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background, #ffffff);
  cursor: pointer;
  background-color: var(--primary-Brand, #4d5ae5);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.footer-button-svg {
  margin-left: 16px;
  fill: var(--light, #f4f4fd);
}

.data-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-page {
  display: block;
  width: 284px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background: var(--modal-background);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}

.modal-page-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark, #2e2f42);
  margin-bottom: 16px;
}

.modal-forms {
  margin-bottom: 8px;
}

.modal-forms-label {
  margin-bottom: 4px;
}

.modal-forms-input {
  position: relative;
}

.modal-forms-textarea {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-forms-text:focus {
  border-color: var(--primary-Brand, #4d5ae5);
}

.modal-forms-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-forms-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-forms-checkbox {
  margin-bottom: 24px;
}

.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent, #e7e9fc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--pressed-state, #404bbf);
  border: none;
  fill: var(--white-background, #ffffff);
}

.icon-modal {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-forms-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-Text, #8e8f99);
}

.modal-forms-label-check {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-Text, #8e8f99);
}

.modal-forms-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  fill: transparent;
  margin-right: 8px;
}

.input-checkbox:checked + .modal-forms-label-check .modal-forms-span {
  background-color: var(--pressed-state, #404bbf);
  border: none;
  fill: var(--light, #f4f4fd);
}

.modal-forms-span-link {
  color: var(--primary-Brand, #4d5ae5);
  text-decoration: underline;
}

.modal-forms-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-forms-icon:focus {
  fill: #4d5ae5;
}

.modal-input:focus ~ .modal-forms-icon {
  fill: var(--primary-Brand, #4d5ae5);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 80px 35px 40px 40px;
  background-color: var(--white-background, #fff);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu.is-open {
  transform: translateX(0);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-address-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.mob-socials-list {
  gap: 34px;
  /* padding-left: 40px; */
  padding-bottom: 40px;
  margin-right: auto;
}

.mob-menu-link {
  color: var(--headings-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: var(--active-link-color);
}

.mobile-address {
  margin-bottom: 48px;
}

.mob-menu-addres-link-tel {
  color: var(--primary-Brand, #4d5ae5);
  font-size: 25px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-style: normal;
}

.mob-menu-addres-link-email {
  color: var(--text, #434455);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}

.menu-close-btn {
  position: absolute;
  padding: 0;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: var(--headings-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 10%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-open-btn {
  position: absolute;
  padding: 0;
  right: 16px;
  top: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: auto;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-web {
  color: var(--primary-Brand, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 120px;
  padding: 24px 0px;
}

.footer .footer-logo-web {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  padding: 0;
}

.footer .footer-logo-studio {
  color: var(--light, #f4f4fd);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
}

.footer-text {
  color: var(--light, #f4f4fd);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
}

.social-pages {
  color: var(--white-background, #ffffff);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list-social {
  display: flex;
  gap: 16px;
}

.footer-icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-Brand, #4d5ae5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--success, #31d0aa);
}

.footer-icon-svg {
  fill: var(--light, #f4f4fd);
}

.footer-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-email-paragraf {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: block;
}

.subscribe-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.footer-form-input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 8px 24px;
  display: block;
  width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state, #404bbf);
}

.subscribe-icon {
  fill: var(--white-background, #ffffff);
  margin-left: 16px;
}

.portfolio-project-title {
  color: var(--dark, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
